header{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url(../../img/tardis-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

header > div h2{
    font-size: 40px;
}

header > div p{
    font-size: 20px;
}