header{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: url(../../img/tardis-background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 260px;
    height: 50%;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, .8);
}

.fecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    width: 50%;
}

.fecha h2{
    font-size: 15px;
}

.fecha p{
    font-size: 40px;
}

.contador{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.contador > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2%;
}

.contador h2{
    font-size: 15px;
}

.contador p{
    font-size: 40px;
}