nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 0 40px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 6%, rgba(0, 0, 0,.8) 45%,  rgba(0, 0, 0, 0.5)  68%, rgba(0, 0, 0,.3)  77%, rgba(0, 0, 0,.1)  91%,transparent 100%);
}

.nav-logo{
    width: 15%;
    min-width: 150px;
    transition: all .5s 
}

 .nav-logo:hover{
    transform: scale(1.1);
    transition: all .5s
} 

.nav-login{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav-login > a{
    transition: all .5s;
}

.nav-login > a:hover{
    transform: scale(1.1);
    transition: all .5s;
}

.login-button{
    background-color: var(--main-color);
    color: white;
    border-radius: 6px;
    padding: 10px;
}

.background-wrapper{
    background-image: url(../../img/header-background.jpg);
    background-position: center;
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    border-bottom: 8px solid #222;
}

header{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    color: white;
}

header > h1{
    font-size: 3.125rem;
    max-width: 900px;
    line-height: 1.1;
}

header > h2{
    margin: 20px 0;
    font-size: 2rem;
}

header > p{
    font-size: 1.625rem;
}

.form-vamos{
    width: 50%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.form-email{
    width: 60%;
    min-width: 210px;
    min-height: 60px;
    border: thin solid rgb(187, 187, 187);
    padding-left: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 1rem;
}

.form-button{
    width: 30%;
    min-height:60px;
    min-width: 160px;
    border: thin solid var(--main-color);
    background-color: var(--main-color);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    font-size: 1.625rem;
    cursor: pointer;
}

@media(max-width:1420px){
    .form-button{
        font-size: 1rem;
    }
}